<!doctype html>
<html ng-app="tarefaApp">
	<head>
		
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
		<script src="bower_components/pace/pace.min.js"></script>
		
		<script src="tarefa.js"></script>
		
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/pace/themes/blue/pace-theme-loading-bar.css">
		<link rel="stylesheet" href="content/demo.css">
		
	</head>
	<body>
		
		<h2>Tarefas</h2>
		
		<div ng-controller="TodoListController as todoList">
			
			<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
			[ <a href="" ng-click="todoList.archive()">archive</a> ]
			<ul class="unstyled">
				<li ng-repeat="todo in todoList.todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
			
			<form ng-submit="todoList.addTodo()">
				<input type="text" ng-model="todoList.todoText"  size="30"
				placeholder="add new todo here">
				<input class="btn-primary" type="submit" value="add">
			</form>
			
		</div>
		
		<br/>
		<span id="stopwatch">00:00:00</span>
		
	</body>
</html>

<script>
	
	$(function(){
		
		moment().format();
		
		$("#stopwatch").text(moment("20150728", "YYYYMMDD").fromNow());
	});
</script>